@font-face{font-family:pilat extended;src:url('fonts/PilatExtended-Heavy.woff') format('woff'),url('fonts/PilatExtended-Heavy.woff2') format('woff2'),url('fonts/PilatExtended-Heavy.ttf') format('truetype');font-weight:900;font-style:normal}body{text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}

html { height: 100%; margin: 0; }
body { min-height: 100%; margin: 0; font-family: pilat extended, sans-serif; font-weight: 700; font-style: normal; }
body.admin-bar { margin-top: 0 !important; }

[class*="lang-"] { display: none; }

/*** Specific ***/

.page-header a h1{ text-transform: uppercase; font-size: 23px; margin-bottom: 0px; margin-top: 5px;}
.page-header .socials{ display:block; margin-top: -3px; }
.page-header a{ color: #000; font-size: 16px; display: inline-block; text-decoration: none;}
.page-header a+a{ margin-left:13px; }

.home .post figure a img { max-width: 600px; width: 92%; margin: auto; height: auto; display: block;}

/*****/

.menu-location { position: fixed; z-index:10; }
.menu-location.menu-location-top { top: 20px; }
body.admin-bar .menu-location.menu-location-top { top: 50px; }
.menu-location.menu-location-bottom { bottom: 20px; }
.menu-location.menu-location-left { left: 20px; }
.menu-location.menu-location-center { left: 50%; width: 106px; margin-left: -53px; text-align: center; }
.menu-location.menu-location-right { right: 20px; }
.menu-location > .menu { list-style: none; padding: 0; margin: 0; text-transform: uppercase; /*font-weight: bold;*/ font-size: 18px;}
.menu-location > .menu > .menu-item { display: inline-block; }
.menu-location > .menu > .menu-item > a { color: #000000; text-decoration: none; }
.menu-location > .menu > .menu-item > a:hover { text-decoration: underline; }

.page-header { text-align: center; padding-top: 10px; }
.page-header img { position: relative; z-index: 100; display: inline-block; max-height: 100px; max-width: 80%; }
.posts { width: 1000px; max-width: 100%; margin: auto; }
.posts.posts-scroll { position: absolute; left: 200px; right: 200px; top: 120px; bottom: 95px; width: auto; padding: 40px; padding-top: 20px; border: 5px solid transparent; outline: 3px solid rgba(255, 255, 255, 0.3); border-radius: 3px; overflow-y: scroll; }
.posts.posts-scroll::-webkit-scrollbar { width: 10px; }
.posts.posts-scroll::-webkit-scrollbar-track { background: rgba(255, 255, 255, 0.2); }
.posts.posts-scroll::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 0.3); }
.posts.posts-scroll::-webkit-scrollbar-thumb:hover { background: rgba(255, 255, 255, 0.5); }
.posts .post { color: #000; padding-bottom: 50px; }
.posts .post h1 { font-size: 26px; text-transform: uppercase;  margin-top: 0; text-align: center; letter-spacing: 1px; }
.posts .post a { color: #000;  letter-spacing: 1px; }
.posts .post a:hover { text-decoration: underline; }
.posts .post p { margin-top: 0; line-height: 20px; font-weight: bold; }
.posts .post p:last-child { margin-bottom: 0; }
.posts .post iframe[src*="youtube"] { width: 75%; display: block; margin: auto; border: 2px solid #0f468f; background-color: #111; }
.posts .post img { height: auto; }

.album-art img {border: solid 2px #fff; }

@media(max-width: 1200px) {
    .posts.posts-scroll { left: 100px; right: 100px; padding: 30px; }
}
@media(max-width: 1000px) {
    .posts.posts-scroll { left: 50px; right: 50px; padding: 20px; }
}
@media(max-width: 800px) {
    .page-header { padding-top: 50px; }
    .posts { margin-top: 30px; }
    .posts.posts-scroll { left: 10px; right: 10px; padding: 10px; }
    .posts .post figure.wp-block-embed { margin-left: 10px; margin-right: 10px; }
	
	.menu-location > .menu { font-size:14px; }
}


/* Drop */

:root {
  --primColor: #ebebeb96;
  --secoColor: #555555;
  --cornerRad: 4px;
}

summary {
  writing-mode: vertical-lr;
  text-align: center;
  padding: 12px 10px;
  width: 23px;
  height: 17px;
  background-color: var(--primColor);
  border: 2px solid var(--secoColor);
  border-radius: var(--cornerRad);
  color: var(--secoColor);
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: transform 200ms ease-in-out 0s;
}
summary::before,
summary::after {
  position: static;
  top: 0;
  left: 0;
}
summary::before {
  content: "";
}
summary::after {
  content: "III";
  letter-spacing: -1px;
}
summary:hover {
  transform: scale(1.1);
}
summary::marker {
  font-size: 0;
}
summary::-webkit-details-marker {
  display: none;
}
details[open] .drop {
  animation-name: dropAnim;
}
details[open] summary::before {
  content: "X";
}
details[open] summary::after {
  content: "";
}
.drop {
  height: 0;
  width: fit-content;
  border-radius: var(--cornerRad);
  background-color: var(--primColor);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  animation: closeDrop 300ms ease-in-out forwards;
}
.drop a {
  padding: 12px 24px;
  margin: 0 16px;
  color: var(--secoColor);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
  transition: filter 200ms linear 0s;
}
.drop a:nth-of-type(1) {
  padding-top: 24px;
}
.drop a:nth-last-of-type(1) {
  border-bottom: none;
}
.drop a:hover {
  filter: brightness(200%);
}
details::before {
  color: var(--secoColor);
  position: absolute;
  margin-left: 80px;
  padding: 10px 10px;
  opacity: 0.4;
}
details[open]::before {
  animation: fadeMe 300ms linear forwards;
}
@keyframes dropAnim {
  0% {
    height: 0;
  }
  100% {
    height: 200px;
  }
}
@keyframes fadeMe {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}